.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.bg {
  background-image: url(../public/glassesImage/background.jpg);
  background-size: cover;
}

.header {
  width: 100%;
  padding: 40px 0;
  color: white;
  background-color: rgba(0, 0, 0, 0.489);
  text-align: center;
}

.model {
  display: flex;
  justify-content: center;
  align-items: center
}

.model img {
  width: 100%;
  height: 100%;
}

.model .face {
  width: 350px;
  height: 400px;
  margin: 80px 100px;

}

.face {
  position: relative;
}

.model .text_model {
  position: absolute;
  bottom: -20%;
  left: 0;
  width: 100%;
  height: 40%;
  text-align: left;
}

.glass_model,
.change_glass {
  position: absolute;
  top: 26%;
  left: 25%;
  width: 50%;
  height: 15%;
  opacity: 60%;
}

.model_glass {
  width: 70%;
  margin: 0 auto;
  height: 40%;
  background-color: rgb(148, 148, 148);

}

.model_glass img {
  height: 60px;
  margin: 20px 20px;
}